body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; 
}

th {
  width: 120px;
  padding-top:50px;
  padding-bottom:20px;
}

td {
  padding: 10px;
}

.time {
  height: 40px;
}
.Event {
  width: 100px;
}

.Event h5, h6 {
  line-height: 0px;
  align-content: center;
}
.pink {
  background: pink;
}
.blue {
  background: rgb(190, 219, 229);
}
.green {
  background: rgb(43, 223, 127);
}